//- Include used template for this page
extends ../../templates/default/template

//- Variables for include this in used template
block variables
    - let title       = 'Topverstka - тестовая работа'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'page-index'

block content
    //include ../components/form/form